<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="File" name="file"
            fileName="${specialfolder:folder=ApplicationData}/CharmsBarReloaded/latest.log"
            layout="[${longdate}] ${uppercase:${level}} ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=10:maxInnerExceptionCount=10}"/>
    <target xsi:type="File" name="crashFile"
            fileName="${specialfolder:folder=ApplicationData}/CharmsBarReloaded/crash-reports/${date:format=yyyy-MM-dd_HH-mm-ss}.log"
            layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=10:maxInnerExceptionCount=10}" />
    <target xsi:type="Console" name="console"
            layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=toString,Data:maxInnerExceptionLevel=10:maxInnerExceptionCount=10}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Info" writeTo="file" />
    <logger name="*" minlevel="Fatal" writeTo="crashFile" />
  </rules>
</nlog>
