<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CharmsBarReloaded.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CharmsBarReloaded.Properties.Settings>
            <setting name="HideWindowAfterClick" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>000000</value>
            </setting>
            <setting name="TextColor" serializeAs="String">
                <value>d3d3d3</value>
            </setting>
            <setting name="HoverColor" serializeAs="String">
                <value>4c4c4c</value>
            </setting>
            <setting name="UseLightTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowChargingOnDesktop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableKeyboardShortcut" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CharmsClockEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OverrideCharmsBarOffSetting" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableAnimations" serializeAs="String">
                <value>True</value>
            </setting>
        </CharmsBarReloaded.Properties.Settings>
    </userSettings>
</configuration>